<!-- User not logged in -->

<form ng-submit="initFirebaseModal.ok(initFirebaseModal.obj)" ng-if="!initFirebaseModal.isLoggedIn">
    <div class="modal-body modal-body-saved-search">
        <h2>New User?</h2>
        <p>Please provide a unique id and password to create a new account.</p>
        <h2>Returning User?</h2>
        <p>Please enter your correct id and password.</p>
        <div class="row">
        	<input autofocus ng-model="initFirebaseModal.obj.username" type="text" class="form-control search-modal-input" placeholder="John Doe" required>
        </div>
        <div class="row">
        	<input ng-model="initFirebaseModal.obj.password" type="password" class="form-control search-modal-input" placeholder="XXXXXX" required>
        </div>
        <p ng-if="initFirebaseModal.pwError">Error: Password doesn't match id! You can find all of your saved data (including passwords for any of your accounts) at https://console.firebase.google.com/project/INSERT-YOUR-DATABASE-NAME-HERE/database/data.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="initFirebaseModal.cancel()">Cancel</button>
        <button class="btn btn-primary" type="submit">OK</button>
    </div>
</form>

<!-- User logged in -->
<form ng-submit="initFirebaseModal.logout()" ng-if="initFirebaseModal.isLoggedIn">
	<div class="modal-body">
		<h2>Hello!</h2>
        <p>You are currently logged in as <span class="bold">{{ initFirebaseModal.credObj.username }}</span>.</p>
	</div>
	<div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="initFirebaseModal.cancel()">Cancel</button>
        <button autofocus class="btn btn-primary" type="submit">Log Out</button>
    </div>
</form>


