<div id="about">
	<div id="about-intro">
		<h2>Introduction</h2>
		<p>Welcome to the Swiss Army YouTube Searcher! (The name is subject to change, as it has changed once already. Fair warning..) The goal of this app is to allow the user to gain more freedom in searching for YouTube videos. It was originally created with all of the hardcore YouTube junkies out there in mind (myself included), but of course can be enjoyed and used by anybody.</p>
		<p>In the future there may be more search options available, so stay tuned, and in the meantime, enjoy!</p>
	</div>
	<div id="about-guide">
		<h2>Guide</h2>
		<p>You can simply do a basic video search via the default search bar. Note that there are more search parameters and filters that you can use to make a much finer search.</p>
		<p>Currently, you can search by location, result order, date range, and also by a particular channel.</p>
		<p>The location parameter uses Google Maps to allow the user to select a portion of the map using an adjustable circular selector. <span class="bold emph">Due to the limits of the API, radii of selections cannot exceed 1000 kilometers.</span> You can clear the selection by clicking the "Clear Selection" button. The coordinates of the center of the circle and its radius are displayed to the left and right of the "Clear Selection" button, respectively. </p>
		<p>If, for example, you want to search the contents of a specific channel, here's what you do:</p>
		<ol>
			<li>First, search for a channel in the "Search Channel" input box. <span class="bold emph">Note that the advanced parameters aren't utilized when searching by channel, only when searching by video.</span></li>
			<li>Assuming you get back results, select whichever channel you'd like by clicking on its image. You should then see the filter applied represented by an icon below the search bar.</li>
			<li>You will now only get results from that particular channel back. Clicking on another channel will reset the filter. You can remove the filter by clicking the "Clear Filter" button.</li>
		</ol>
		<p>You can also use the translate feature to quickly search for videos in different languages. You can set a language, and before search execution, the API will translate the keywords (you will also see it in the search bar, allowing you to make tweaks if you wanted to get different results).</p>
		<p>An example of utilizing these features would be maybe searching for concert performances of an artist you like, but say you only wanted concerts from their European tours in 2011 and 2013. Or maybe you want to find videos from a certain channel, but only within a specific timeframe.</p>
		<p>You can also click the "Save Search" button to save and store the current search parameters as an item in your local storage. You can find all of your saved past searches in the "My Saved Content" view. In the "Saved Searches" area of this view, clicking the "Grab!" button will activate the respective saved search and fill the current parameters. Note that this doesn't immediately initialize the search, so you can tweak any of the parameters as you wish before making your search.</p> 
		<p>By default, the app uses the HTML5 Local Storage API to store saved data (videos and past searches), but you can also utilize a Google Firebase database, enabling you to access your saved content wherever you like. The app relies on a simple login system where, for each database, you can create any number of new segments completely isolated from one another using an ID and password.</p>
	</div>
	<div class="about-other">
	<h2>Known Bugs/Issues</h2>
	<ul>
		<li>It is recommended that you Disconnect from Firebase before changing Firebase databases within the code. If for some reason you forget, you should immediately Disconnect from Firebase since it may cause conflicts with the database you end up switching to.</li>
		<li>Map sometimes doesn't expand as it should. Simply refreshing the page should solve this.</li>
		<li>Sometimes issues occur when fetching saved searches/videos, and you may not see any of your saved content. Simply refreshing the page should solve this.</li>
		<li>This app works best in Google Chrome. I continue to add fixes to any cross-browser issues I may come across.</li>
	</ul>
	<div id="about-footer" class="emph">
		<p>By Gregory Federico.</p>
		<p>2016-2017.</p>
		<p>Powered by the <a target="_blank" href="https://developers.google.com/maps/documentation/javascript/">Youtube Data API</a>, <a target="_blank" href="https://console.firebase.google.com/">Google Firebase</a> , <a target="_blank" href="https://developers.google.com/maps/documentation/javascript/">Google Maps API</a>,  and <a target="_blank" href="https://tech.yandex.com/translate/">Yandex Translate API</a> .</p>
	</div>
</div>